.header {
    width: 100%;
    height: 8%;
    background-color: cadetblue;
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    opacity: .9;
    text-align: left;
    text-shadow: 0 0 .1em black;

}

.adminLogin {
    border: none;
    cursor: pointer;
    background: none;
    padding-left: 2%;
    outline: none;
    color: white;
    transition: 0.3s;
    font-size: 2em;
    text-shadow: 0 0 .1em black;
    font-weight: 800;
}

.delete {
    font-size: 2em;
    color: white;
    cursor: pointer;
    width: 20%;
    text-align: center;
    background-color: cadetblue;
    text-shadow: 0 0 .1em black;
    border: none;
    position: absolute;
}
.addProduct {
    display: flex;
    flex-direction: column;
}
.addProduct > input {
    flex: 1;
    font-size: 1.8em;
}


.logo {
    padding: .5em 0 .5em 2%;
    font-size: 4em;
    color: white;

}

/*PRODUCTS STYLING*/
ul.productsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul.productsContainer > li {
    flex-basis: 30%;
    margin-bottom: 2%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: white;
    background-color: rgb(50, 50, 50);
    position: relative;
}
/*text content*/

ul.productsContainer > li > div {
    position: absolute;
    text-shadow: 0 0 0.1em black;
    bottom: 3em;
    background-color: rgba(50, 50, 50, 0.5);
    width: 94%;
    padding: 3%;
    height: 10em;
}

ul.productsContainer > li > div > h2 {
    font-size: 2.8em;
}
ul.productsContainer > li > div > h3 {
    font-size: 1.8em;
}
ul.productsContainer > li > div > p {
    font-size: 1.4em;
}

/*button*/
ul.productsContainer > li > button:nth-of-type(1){
    border: none;
    outline: none;
    background-color: gray;
    color: white;
    height: 3em;
    width: 80%;
    transition: 0.3s;
    font-size: 2em;
    bottom: 0;
    text-shadow: 0 0 .1em black;
    font-weight: 800;
    position: absolute;

}
ul.productsContainer > li > button:nth-of-type(2){
    border: none;
    outline: none;
    background-color: cadetblue;
    color: white;
    height: 3em;
    width: 20%;
    transition: 0.3s;
    font-size: 2em;
    bottom: 0;
    right: 0;
    text-shadow: 0 0 .1em black;
    font-weight: 800;
    position: absolute;

}

ul.productsContainer > li > button:hover{
    background-color: cadetblue;
    cursor: pointer;
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 0 0 1em black;
}



/*PRODUCT VIEW*/
.productView {
    position: fixed;
    display: flex;
    left:0;
    bottom:0;
    z-index: 100;
    width: 100%;
    height: 92%;
    color:white;
    background-color: rgba(30, 30, 30, .9);
    animation: fade-in .3s;
    overflow: auto;

}
.productView > div:nth-of-type(1), .productView > div:nth-of-type(2) {
    margin: 6em 2% 0 2%
}
.productView > div:nth-of-type(1) {
    flex: 1;
}
.productView > div:nth-of-type(1) > img{
    width: 100%;
}
.productView > div:nth-of-type(2) {
    flex: 3;
}

.productView > div:nth-of-type(2) > h1 {
    font-size: 5em;
}


.productView > div:nth-of-type(2) > h2 {
    font-size: 3em;
}


.productView > div:nth-of-type(2) > p {
    font-size: 2em;
    margin: .5em 0 .5em 0;
}

.productView > div:nth-of-type(2) > p.price {
    font-size: 3em;
}

.productView > div:nth-of-type(2) > button {
    border: none;
    outline: none;
    background-color: cadetblue;
    color: white;
    height: 2em;
    width: 10em;
    transition: 0.3s;
    font-size: 2em;
    text-shadow: 0 0 .1em black;
    font-weight: 800;
    margin-bottom: 3em;
}
.productView > div:nth-of-type(2) > button:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 1em black;
}



.cart {
    position: fixed;
    display: flex;
    left:0;
    bottom:0;
    z-index: 100;
    width: 100%;
    height: 92%;
    color:white;
    background-color: rgba(30, 30, 30, .9);
    animation: fade-in .3s;
}

.close{
    position: absolute;
    right: 2%;
    top: 0.1em;
    color: indianred;
    background: none;
    outline: none;
    cursor: pointer;
    font-weight: 800;
    border: none;
    transition: .5s;
    font-size: 5em;
}

.cartButton {
    position: fixed;
    right: 2%;
    background: none;
    border: none;
    outline:none;
    top: .5em;
    z-index: 10;
    font-weight: 800;
    text-shadow: 0 0 .1em black;
    color: white;
    font-size: 4em;
    transition: .5s;

}
.cartButton:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.cart > ul {
    margin-top: 8em;
    width: 100%;
}
.cart > ul > li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart > ul > li:nth-of-type(odd) {
    background-color: rgba(100, 100, 100, 0.5);
}

.cart > ul > li > p,
.cart > ul > li > button {
    flex: 1;
    margin: 0 3% 0 3%;
    font-size: 2em;
}
.cart > ul > li > p:nth-of-type(2), .cart > ul > li > button{
    text-align: right;
}
.cart > ul > li > button {
    background: none;
    border: none;
    color: white;
    outline: none;
    transition: .5s;
}


.cart > ul > li > button:hover {
    color: cadetblue;
    cursor: pointer;
}
.close:hover{
    color: red
}


.history {
    display: flex;
    background-color: rgba(50, 50, 50, 0.9);
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 100;
    overflow: auto;
}

.history > li {
    height: 100%;
    width: 20em;
    color: white;
    font-size: 1.5em;
    margin: 0 .5em 0 .5em;
    display: flex;
    justify-content: space-around;
    flex-direction:column;

}

.history > li > h3,
.history > li > button{

}

.history > li:nth-of-type(even) {

}



@media (max-width: 1350px){
    ul.productsContainer > li {
        flex-basis: 46%;
    }

}

@media (max-width: 600px){
    ul.productsContainer > li {
        flex-basis: 90%;
    }
    .productView {
        flex-direction: column;
    }
    .logo {
        font-size: 2.4em;
    }
    .cartButton {
        font-size: 2.2em;
    }

}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

