.header {
    width: 100%;
    height: 8%;
    background-color: cadetblue;
    position: fixed;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: .9;
    text-align: left;
    text-shadow: 0 0 .1em black;

}

.adminLogin {
    position: fixed;
    left: 2%;
    border:none;
    background-color: rgba(50, 50, 50, 0.9);
    -webkit-transition: .5s;
    transition: .5s;
    color: white;
    font-size: 2.5em;
    outline: none;
}
.adminLogin:hover {
    color: cadetblue;
    cursor: pointer;
}

.delete, .edit {
    font-size: 3em;
    color: white;
    cursor: pointer;
    width: 3em;
    text-align: center;
    background-color: indianred;
    text-shadow: 0 0 .1em black;
    border: none;
    position: absolute;
    transition: .5s;
}
.edit {
    margin-left: 3em;
    background-color: darkgreen;
}
.delete:hover {
    background-color: red;
}
.edit:hover {
    background-color: green;
}


.doneEditButton{
    font-size: 3em;
    color: white;
    cursor: pointer;
    text-align: center;
    background-color: indianred;
    text-shadow: 0 0 .1em black;
    border: none;
    transition: .5s;

}
.doneEditButton:hover{
    background-color: red;
}

.addNewProductButton {
    font-size: 3em;
    color: white;
    cursor: pointer;
    text-align: center;
    background-color: darkgreen;
    text-shadow: 0 0 .1em black;
    border: none;
    transition: .5s;
}
.addNewProductButton:hover {
    background-color: green;
}

.addProduct {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.addProduct > input {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 1.8em;
}


.logo {
    padding: .5em 0 .5em 2%;
    font-size: 4em;
    color: white;

}

/*PRODUCTS STYLING*/
ul.productsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-bottom: 3em;
}

ul.productsContainer > li {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    margin-bottom: 2%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: white;
    background-color: rgb(50, 50, 50);
    position: relative;
}
/*text content*/

ul.productsContainer > li > div {
    position: absolute;
    text-shadow: 0 0 0.1em black;
    bottom: 3em;
    background-color: rgba(50, 50, 50, 0.5);
    width: 94%;
    padding: 3%;
    height: 10em;
}

ul.productsContainer > li > div > h2 {
    font-size: 2.8em;
}
ul.productsContainer > li > div > h3 {
    font-size: 1.8em;
}
ul.productsContainer > li > div > p {
    font-size: 1.4em;
}

/*button*/
ul.productsContainer > li > button:nth-of-type(1){
    border: none;
    outline: none;
    background-color: gray;
    color: white;
    height: 3em;
    width: 80%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-size: 2em;
    bottom: 0;
    text-shadow: 0 0 .1em black;
    font-weight: 800;
    position: absolute;

}
ul.productsContainer > li > button:nth-of-type(2){
    border: none;
    outline: none;
    background-color: cadetblue;
    color: white;
    height: 3em;
    width: 20%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-size: 2em;
    bottom: 0;
    right: 0;
    text-shadow: 0 0 .1em black;
    font-weight: 800;
    position: absolute;

}

ul.productsContainer > li > button:hover{
    background-color: cadetblue;
    cursor: pointer;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
    -webkit-box-shadow: 0 0 1em black;
    box-shadow: 0 0 1em black;
}



/*PRODUCT VIEW*/
.productView {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left:0;
    bottom:0;
    z-index: 2;
    width: 100%;
    height: 92%;
    color:white;
    background-color: rgba(30, 30, 30, .9);
    -webkit-animation: fade-in .3s;
    animation: fade-in .3s;

}
.productView > div {
    overflow: auto;
}

.productView > div:nth-of-type(1), .productView > div:nth-of-type(2) {
    margin: 6em 2% 0 2%
}
.productView > div:nth-of-type(1) {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
}
.productView > div:nth-of-type(1) > img{
    width: 100%;
}
.productView > div:nth-of-type(2) {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
}

.productView > div:nth-of-type(2) > h1 {
    font-size: 5em;
}


.productView > div:nth-of-type(2) > h2 {
    font-size: 3em;
}


.productView > div:nth-of-type(2) > p {
    font-size: 2em;
    margin: .5em 0 .5em 0;
}

.productView > div:nth-of-type(2) > p.price {
    font-size: 3em;
}

.productView > div:nth-of-type(2) > button {
    border: none;
    outline: none;
    background-color: cadetblue;
    color: white;
    height: 2em;
    width: 10em;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-size: 2em;
    text-shadow: 0 0 .1em black;
    font-weight: 800;
    margin-bottom: 3em;
}
.productView > div:nth-of-type(2) > button:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-box-shadow: 0 0 1em black;
    box-shadow: 0 0 1em black;
}



.cart {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left:0;
    bottom:0;
    z-index: 3;
    width: 100%;
    height: 92%;
    color:white;
    background-color: rgba(30, 30, 30, .9);
    -webkit-animation: fade-in .3s;
    animation: fade-in .3s;
}

.close{
    position: absolute;
    right: 2%;
    top: 0.1em;
    color: indianred;
    background: none;
    outline: none;
    cursor: pointer;
    font-weight: 800;
    border: none;
    -webkit-transition: .5s;
    transition: .5s;
    font-size: 5em;
}

.cartButton {
    position: fixed;
    right: 2%;
    background: none;
    border: none;
    outline:none;
    top: .5em;
    z-index: 10;
    font-weight: 800;
    text-shadow: 0 0 .1em black;
    color: white;
    font-size: 4em;
    -webkit-transition: .5s;
    transition: .5s;

}
.cartButton:hover {
    cursor: pointer;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.cart > ul {
    margin-top: 8em;
    width: 100%;
    overflow: auto;

}
.cart > ul > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.cart > ul > li:last-child {
    margin-bottom: 8em;
}

.cart > ul > li:nth-of-type(odd) {
    background-color: rgba(100, 100, 100, 0.5);
}

.cart > ul > li > p,
.cart > ul > li > button {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0 3% 0 3%;
    font-size: 2em;
}
.cart > ul > li > p:nth-of-type(2), .cart > ul > li > button{
    text-align: right;
}
.cart > ul > li > button {
    background: none;
    border: none;
    color: white;
    outline: none;
    -webkit-transition: .5s;
    transition: .5s;
}


.cart > ul > li > button:hover {
    color: cadetblue;
    cursor: pointer;
}
.close:hover{
    color: red
}

.historyToggleButton {
    position: fixed;
    right: 2%;
    border: none;
    background-color: rgba(50, 50, 50, 0.9);
    -webkit-transition: .5s;
    transition: .5s;
    color: white;
    font-size: 2.5em;
    outline: none;
    z-index: 100;
}

.historyToggleButton:hover {
    color: cadetblue;
    cursor: pointer;
}

.history {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgba(50, 50, 50, 0.9);
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 100;
    overflow: auto;
    -webkit-transition: .5s;
    transition: .5s;
}

.history > li {
    height: 100%;
    min-width: 20em;
    color: white;
    font-size: 1.5em;
    margin: 0 .5em 0 .5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;

}

.history > li > button{
    width: 80%;
    background: none;
    -webkit-transition: .5s;
    transition: .5s;
    color: white;
    font-size: 1.6em;
    border: .1em solid white;
    outline: none;
}
.history > li > button:hover{
    color: cadetblue;
    border: .1em solid cadetblue;
    cursor: pointer;
}

.history > li:nth-of-type(odd) {
    background-color: rgba(30, 30, 30, 0.3);
}




@media (max-width: 1350px){
    ul.productsContainer > li {
        -ms-flex-preferred-size: 46%;
        flex-basis: 46%;
    }

}

@media (max-width: 600px){
    ul.productsContainer > li {
        -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    }
    .productView {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .logo {
        font-size: 2.4em;
    }
    .cartButton {
        font-size: 2.2em;
    }

}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
