/*
This css is not optimal.
This assignment wasn't meant to be styled, so it's not that great.
*/


/*HEADER*/
.header {
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: rgba(50, 50, 50, 0.8);
    color: white;
    text-shadow: 0 0 0.1em black;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3em;
    font-weight: 800;
}
.header > div {
    flex: 1;
    line-height: 2em;
    transition: .5s;
}
.header > div:hover {
    cursor: pointer;
    color: cadetblue;
}


/*PRODUCTS STYLING*/
ul.productsContainer {
    padding-top: 6em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul.productsContainer > li {
    flex-basis: 30%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: white;
    background-color: rgb(50, 50, 50);
    position: relative;
    margin: 1% 0 1% 0;
}
/*text content*/

ul.productsContainer > li > div {
    position: absolute;
    text-shadow: 0 0 0.1em black;
    bottom: 3em;
    background-color: rgba(50, 50, 50, 0.5);
    width: 94%;
    padding: 3%;
    height: 10em;
}

ul.productsContainer > li > div > h2 {
    font-size: 2.8em;
}
ul.productsContainer > li > div > h3 {
    font-size: 1.8em;
}
ul.productsContainer > li > div > p {
    font-size: 1.4em;
}

/*button*/
ul.productsContainer > li > button{
    border: none;
    outline: none;
    height: 2.5em;
    transition: 0.3s;
    font-size: 2em;
    bottom: 0;
    text-shadow: 0 0 .1em black;
    font-weight: 800;
    position: absolute;
}

ul.productsContainer > li > button:nth-of-type(1){
    background-color: gray;
    color: white;
    width: 80%;
    left: 0;
}
ul.productsContainer > li > button:nth-of-type(2){
    background-color: cadetblue;
    color: white;
    width: 20%;
    right: 0;
}

ul.productsContainer > li > button:hover{
    cursor: pointer;
    background-color: cadetblue;
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 0 0 1em black;
}


/*PRODUCT VIEW*/
.productView {
    position: fixed;
    left: 0;
    top: 0;
    padding: 3% 0 0 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(50, 50, 50, 0.9);
    animation: fadein 0.5s;
}

/*viewProductInformation*/
.viewProductInformation {
    height:inherit;
    width: 90%;
    display: flex;
    margin: 2% auto 0 auto;
    color: white;

}

.viewProductInformation > div:nth-of-type(2) > p,
.viewProductInformation > div:nth-of-type(2) > h3,
.viewProductInformation > div:nth-of-type(2) > button {
    margin-top: 2%;
}

.viewProductInformation > div:nth-of-type(2)  {
    margin: 0 0 0 3%;
}

.viewProductInformation > div:nth-of-type(2) > h2 {
    font-size: 4em;
}

.viewProductInformation > div:nth-of-type(2) > h3 {
    font-size: 3.4em;
}


.viewProductInformation > div:nth-of-type(2) > p {
    font-size: 2em;
}


.viewProductInformation > div:nth-of-type(2) > p.price {
    font-size: 3.4em;
}
.viewProductInformation > div:nth-of-type(2) > button {
    border: none;
    outline: none;
    height: 2em;
    transition: 0.3s;
    font-size: 2em;
    text-shadow: 0 0 .1em black;
    font-weight: 800;
    background-color: cadetblue;
    color: white;
    width: 10em;
}

.viewProductInformation > div:nth-of-type(2) > button:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 1em black;

}

.viewProductInformation > div:nth-of-type(1) {
    flex: 1;
    background-size: cover;
    background-position: top;
}
.viewProductInformation > div:nth-of-type(1) > img {
    width: 100%;
}
.viewProductInformation > div:nth-of-type(2) {
    flex: 3;
}

button.close {
    position: fixed;
    right: 0.3em;
    top: 0;
    border: none;
    outline: none;
    color: white;
    background: none;
    cursor: pointer;
    text-shadow: 0 0 .1em black;
    font-size: 5em;
    font-weight: 800;
}

/*CART*/
.cart {
    position: fixed;
    left: 0;
    top: 0;
    padding: 3% 0 0 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(50, 50, 50, 0.9);
    animation: fadein 0.5s;
}

@media (max-width: 1350px){
    ul.productsContainer > li {
        flex-basis: 46%;
    }

}

@media (max-width: 600px){
    ul.productsContainer > li {
        flex-basis: 90%;
    }

}


@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
