/*PRODUCTS STYLING*/
ul.productsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul.productsContainer > li {
    flex-basis: 30%;
    height: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: white;
    background-color: rgb(50, 50, 50);
    position: relative;
    margin: 1% 0 1% 0;
}
/*text content*/

ul.productsContainer > li > div {
    position: absolute;
    text-shadow: 0 0 0.1em black;
    bottom: 3em;
    background-color: rgba(50, 50, 50, 0.5);
    width: 94%;
    padding: 3%;
    height: 10em;
}

ul.productsContainer > li > div > h2 {
    font-size: 2.8em;
}
ul.productsContainer > li > div > h3 {
    font-size: 1.8em;
}
ul.productsContainer > li > div > p {
    font-size: 1.4em;
}

/*button*/
ul.productsContainer > li > button{
    border: none;
    outline: none;
    background-color: steelblue;
    color: white;
    height: 2em;
    width: 100%;
    transition: 0.3s;
    font-size: 2em;
    bottom: 0;
    text-shadow: 0 0 .1em black;
    font-weight: 800;
    position: absolute;

}

ul.productsContainer > li > button:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 1em black;
}



/*PRODUCT VIEW*/
.productView {
    position: fixed;
    left:0;
    top:0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 30, .9);
}


@media (max-width: 1350px){
    ul.productsContainer > li {
        flex-basis: 46%;
    }

}

@media (max-width: 600px){
    ul.productsContainer > li {
        flex-basis: 90%;
    }

}

